.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme='dark'] .link {
  color: var(--mantine-color-dark-0);
}

[data-mantine-color-scheme='dark'] .link:hover {
  background-color: var(--mantine-color-dark-6);
}

[data-active] {
  background-color: var(--mantine-color-violet-filled);
  color: var(--mantine-color-white);
}

.colorSchemeToggle {
  margin-right: 5px; /* Add margin to the right of the toggle */
}

@media (max-width: 768px) {
  .rightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}
